parameters:
    ignoreErrors:
        - '#Trait Laragear\\MetaTesting\\Auth\\InteractsWithAuthorization is used zero times and is not analysed\.#'
        - '#Trait Laragear\\MetaTesting\\Eloquent\\InteractsWithCast is used zero times and is not analysed\.#'
        - '#Trait Laragear\\MetaTesting\\Http\\Middleware\\InteractsWithMiddleware is used zero times and is not analysed\.#'
        - '#Trait Laragear\\MetaTesting\\Http\\Requests\\InteractsWithFormRequests is used zero times and is not analysed\.#'
        - '#Trait Laragear\\MetaTesting\\InteractsWithServiceProvider is used zero times and is not analysed\.#'
        - '#Trait Laragear\\MetaTesting\\InteractsWithServices is used zero times and is not analysed\.#'
        - '#Trait Laragear\\MetaTesting\\Validation\\InteractsWithValidator is used zero times and is not analysed\.#'
        - '#Trait Laragear\\MetaTesting\\Pipeline\\InteractsWithPipelines is used zero times and is not analysed\.#'
